header {
    padding: 25px;
    text-align: center;
    background-image: url("./Images/AvvoBanner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    font-weight: bold;
    font-size: 350%;
}

.card img {
    width: 10%;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    flex: 0 0 300px;
    transform: rotate(8deg);

}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
    font-size: 150%;
}

body {
    text-align: center
}

#searchBar {
    font-family: 'Courier New', Courier, monospace;

}

.uk-modal-dialog {
    border: 5px dotted #E9967A;
    box-shadow: 10px 10px 5px #aaaaaa;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: goldenrod;
}

footer {
    padding: 8px;
    text-align: center;
    color: orangered;
    margin-top: auto;
    flex-direction: row;
}

#cat-image {
    width: 15%;
    border-style: solid;
    border-width: 1px;
    flex: 0 0 300px;
}

#tacoPlaces .uk-card {
    background-color: goldenrod;
    border: 5px dotted black;
    box-shadow: 10px 10px 5px #aaaaaa;

}

#tacoPlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.picture img {
    width: 8%;
    border-style: solid;
    border-width: 1px;
    flex: 0 0 300px;
}

h6 {
    text-align: left;
    font-size: x-small;
}

@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}

#tacoPlaces .uk-card {
    background-color: #0f0;
}